<footer class="footer">
  <small>
    A Rails app by <a href="http://uohzxela.github.com/">Alex Jiao</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>